body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

.helping-people {
    text-align: center;
    color: white;
    padding-top: 100px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.button-margin {
    margin-top: 30px;
}

.banner {
    background-image: url(images/donation13.jpg);
    height: 500px;
}

.amount {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.donation-today {
    text-align: center;
}

.donation-today p {
    margin: 0%;
}

.donate-price {
    display: flex;
    text-align: center;
    margin-left: 100px;
}

.half-width {
    width: 10%;
    margin-top: 5%;
    padding: 10px;
}

#box {
    margin-left: 2%;
    margin-right: 2%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px gray;
}

.box-color {
    background-color: skyblue;
}

.flexible-container {
    display: flex;
    margin-left: 130px;
    margin-right: 100px;
    margin-top: 30px;
}

.planning-width {
    width: 33%;
    margin: 10px;
    padding: 10px;
    margin-bottom: 80px;
}

.food-color {
    background-color: rgb(115, 196, 196);
}

.align {
    text-align: justify;
}

.shelter-color {
    background-color: rgb(145, 110, 179);
}

.education-color {
    background-color: rgb(196, 167, 130);
}

.contribute {
    display: flex;
    margin-top: 20px;
    margin-bottom: 80px;
}

.depend-donation {
    width: 50%;
    margin-left: 50px;
    margin-right: 10px;
    padding-left: 2%;
    padding-right: 2%;
}

.depend-donation img {
    width: 90%;
}

.updates {
    margin-bottom: 50px;
}

.input-tag {
    height: 30px;
    width: 250px;
    margin-top: 60px;
}

.subscribe-color {
    background-color: burlywood;
    height: 150px;
    width: 600px;
    margin-left: 30%;
}

footer {
    margin-top: 80px;
    text-align: center;
    color: white;
    background-color: black;
    height: 120px;
    padding-top: 25px;
    padding-bottom: 20px;
}